html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
body{
    background-image: url(bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.weather_side{
    height: 90vh;
}
